body {
    background-color: #5cc28f;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 6vw; 
}

.button {
    background-color: darkkhaki;
    color:white;
    border:2px solid white;
    border-radius: 10%;
}


